    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a {
        text-decoration: none;
        color: inherit;
    }

            /* FONTS */

    .roca,
    .main_number,
    .about_me {
        font-family: "Poppins-ExtraBold";
    }

    .transparent {
        font-family: "Montserrat-Regular";
    }

    .main_sldier_text{
        font-family: "GlacialIndifference-Regular";
    }

    .slider_name,
    .my_info_name,
    .hire_me,
    .my_info_stats,
    .contact_card_title,
    .services_title,
    .hover_title,
    .rec_name {
        font-family: "GlacialIndifference-Bold";
    }

    .clients {
        font-family: "Montserrat-Bold";
    }

    .my_info_prof,
    .contact_card_text {
        font-family: "Muli";
    }

    .my_info_about {
        font-family: "Muli-Regular";
    }

    .hover_text {
        font-family: "Muli-Light";
    }

    .rec_text {
        font-family: "Roboto-Light";
    }

    .rec_prof {
        font-family: "Roboto-Regular";
    }

        /* MAIN SLIDER */

    .slider {
        width: 100%;
        position: relative;
        overflow: hidden;
    }

    .slide_pictures {
        display: flex;
        transition: transform 1s ease-in-out;
    }

    .slide_pictures img {
        width: 100%;
        object-fit: cover;
    }

    .slider button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        font-size: 30px;
        padding: 30px 20px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
    }

    .roca {
        position: absolute;
        left: 30px;
        top: 55px;
        line-height: 20px;
        max-width: 130px;
    }

    .roca_bold {
        font-size: 40px;
        letter-spacing: 1.2px;
        color: #1A1A1A;
    }

    .blue_dot {
        color: #0081FF;
        font-size: 33px;
    }

    .transparent {
        color: #B3B3B3;
        font-size: 13px;;
    }

    .main_number {
        position: absolute;
        right: 100px;
        top: 0;
        color: #1C1C1C;
        font-size: 158px;
        letter-spacing: 4.75px;
        z-index: 1;
    }

    .about_me {
        position: absolute;
        right: 67px;
        top: 85px;
        color: #373737;
        font-size: 43px;
        letter-spacing: 1.3px;
        z-index: 10;
    }

    .main_slider_text {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 300px;
        bottom: 200px;
        color: #212121;
    }

    .slider_hi {
        font-size: 50px;
        letter-spacing: 0.75px;
    }

    .slider_name {
        font-size: 71px;
        letter-spacing: 1.06px;
    }

    .slider_prof {
        font-size: 23px; 
    }

    .slider_socials {
        display: flex;
        align-items: center;
        gap: 15px;
        margin-top: 40px;
        padding-left: 5px;
    }

    .clients{
        position: absolute;
        bottom: 100px;
        right: 150px;
    }

    .clients_percent {
        color: #E93656;
        font-size: 24px;
    }

    .clients_text {
        color: #212121;
        font-size: 24px;
    }

    .clients_bar {
        width: 120%;
        height: 8px;
        appearance: none;
    }

    progress::-webkit-progress-value {
        background:  #E93656;
        border-radius: 12px;
    }

    progress::-webkit-progress-bar {
        border-radius: 12px;
        background: #F0F0F0;
    }

                /* MY Info */

    .my_info_container {
        margin: 80px auto;
        display: grid;
        gap: 50px;
        grid-template-columns: 1fr 1fr 1fr;
        align-items: center;
    }

    .my_info_text {
        display: flex;
        flex-direction: column;
        align-items: end;
    }

    .my_info_name {
        color: #222222;
        font-size: 40px;
    }

    .my_info_prof {
        color: #DAAE19;
        font-size: 14px;
    }

    .my_info_about {
        width: 300px;
        color: #555555;
        font-size: 15px;
        line-height: 26px;
        text-align: justify;
        margin: 40px 0px 40px 0px ;
    }

    .hire_me {
        color: #FFFFFF;
        font-size: 15px;
        align-self: end;
        background-color: #E93656;
        padding: 15px 40px;
        border: 2px solid #E93656;
        transition: all 0.5s;
    }

    .hire_me:hover {
        color: #E93656;
        background-color: #FFFFFF;
    }

    .my_info_image img {
        width: 100%;
        height: 600px;
        object-fit: cover;
    }

    .my_info_stats {
        font-size: 20px;
        color: #555555;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .stat_percent {
        color: #E93656;
    }

    .my_info_stats div {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .progress_container {
        height: 10px;
        width: 70%;
        background-color: #F0F0F0;
    }

    #html_bar,
    #css_bar,
    #javascript_bar,
    #github_bar {
        background-color: #E93656;
        height: 10px;
        width: 0%;
    }

                /* MY INFO CONTACT */

    .my_info_contact {
        background-color: #131a36;
        padding: 50px 0px 50px 0px;
    }

    .contact_card_container {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
        flex-wrap: wrap;
    }

    .contact_card_img {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90px;
        height: 90px;
        border: 2px dashed #ffffff;
        border-radius: 50%;
        transition: all 0.4s;
    }

    .contact_card_img:hover {
        background-color: #e93656;
        border: 2px solid #e93656;
    }

    .contact_card {
        min-width: 300px;
        display: flex;
        gap: 15px;
    }

    .card_info_container {
        display: flex;
        flex-direction: column;
    }

    .contact_card_title {
        color: #ffffff;
        font-size: 25px;
        letter-spacing: 0.75px;
        margin-bottom: 10px;
    }

    .contact_card_text {
        color: #dfdfdf;
        margin-bottom: 4px;
        font-size: 14px;
        letter-spacing: 0.42px;
    }


                 /* SERVICES */

    .services_container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        max-width: 77%;
        margin: 110px auto;
        gap: 10px;
    }

    .services_card_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 400px;
        background-color: #FAFAFA;
        transition: all 0.8s;
    }
    
    .before_hover_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 15px;
    }

    .after_hover_container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 10px;
        display: none;
    }

    .services_title,
    .hover_title {
        font-size: 22px;
        letter-spacing: 0.44px;
    }

    .hover_title {
        color: #FFFFFF  ;
    }

    .hover_text {
        color: #ECECEC;
        padding: 0px 5px 0px 5px;
        line-height: 26px;
        max-width: 260px;
    }

    .services_card_box:hover {
        background-color: #15263E;
    }

    .services_card_box:hover .before_hover_container {
        display: none;
    }

    .services_card_box:hover .after_hover_container {
        display: flex;
    }


                /* RECOMENDATIONS */

    .rec_container {
        background-image: url(Images/clip.jpg);
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 90px;
    }

    .rec_slide {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 920px;
        overflow: hidden;
        gap: 100px;
        padding: 150px 0px 150px 0px;
        transition: ease 0.5s;
    }

    .rec_container_card {
        display: none;
        justify-content: center;
        align-items: center;
        gap: 40px; 
    }

    .rec_container_card.active {
        display: flex;
    }

    .rec_text {
        max-width: 500px;
        text-align: end;
        font-size: 15px;
        line-height: 30px;
        letter-spacing: 0.45px;
        color: #FFFFFF;
    }

    .rec_image {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px dashed #FFFFFF;
        border-radius: 50%;
        padding: 8px
    }

    .rec_prof_container {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .rec_quote {
        margin-bottom: 24px;
    }

    .rec_prof {
        font-size: 13px;
        letter-spacing: 0.52px;
        color: #E93656;
    }

    .rec_name {
        font-size: 28px;
        letter-spacing: 0.84px;
        color: #FFFFFF;
    }

    .rec_slider_dots {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    .rec_slider_button {
        border: 2px solid #FFFFFF;
        background-color: #FFFFFF00;
        width: 13px;
        height: 13px;
    }

    .rec_slider_button.active {
        border: 2px solid #E93656;
    }

    .rec_slider_button:hover {
        border: 2px solid #E93656;
    }


                /* RESPONSIVE */

    @media (max-width: 1024px) {

        .roca {
            max-width: 120px;
            top: 45px;
        }
        
        .roca_bold {
            font-size: 25px;
        }

        .blue_dot {
            font-size: 20px;
        }
        
        .transparent {
            font-size: 10px;;
        }

        .main_number {
            right: 70px;
            top: 20px;
            font-size: 90px;
        }

        .about_me {
            right: 50px;
            top: 70px;
            font-size: 25px;
        }

        .main_slider_text {
            right: 210px;
            bottom: 150px;
        }

        .slider_hi {
            font-size: 25px;
        }

        .slider_name {
            font-size: 35px;
        }

        .slider_prof {
            font-size: 13px; 
        }

        .slider_socials {
            gap: 15px;
            margin-top: 20px;
            padding-left: 5px;
        }

        .clients {
            bottom: 40px;
            right: 90px;
        }
        
        .clients_percent {
            font-size: 18px;
        }
        
        .clients_text {
            font-size: 18px;
        }

        .clients_bar {
            height: 5px;
        }

        .services_container{
            max-width: 85%;
        }

        .rec_container {
            gap: 0px;
        }

        .rec_text {
            max-width: 280px;
        }
    }

    @media (max-width: 940px) {

        .roca {
            max-width: 80px;
            top: 25px;
            line-height: 15px;
        }
        
        .roca_bold {
            font-size: 15px;
        }

        .blue_dot {
            font-size: 18px;
        }
        
        .transparent {
            font-size: 8px;;
        }

        .main_number {
            right: 40px;
            top: 5px;
            font-size: 55px;
        }

        .about_me {
            right: 27px;
            top: 35px;
            font-size: 16px;
        }

        .main_slider_text {
            right: 140px;
            bottom: 130px;
        }

        .slider_hi {
            font-size: 16px;
        }

        .slider_name {
            font-size: 24px;
        }

        .slider_prof {
            font-size: 8px; 
        }

        .slider_socials {
            gap: 5px;
            margin-top: 15px;
            padding-left: 5px;
        }

        .slider_socials img{
            width: 15px;
            height: 15px;
        }

        .clients {
            bottom: 40px;
            right: 90px;
        }

        .main_slider_progress {
            margin-top: -10px;
        }
        
        .clients_percent {
            font-size: 10px;
        }
        
        .clients_text {
            font-size: 10px;
        }

        .clients_bar {
            height: 3px;
        }

        .slider button {
            padding: 20px 15px;
        }

        .my_info_container {
        display: flex;
        flex-direction: column;
        }

        .my_info_image {
            order: -1;
        }

        .my_info_image img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .my_info_text {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .hire_me {
            align-self: center;
        }

        .my_info_stats {
            min-width: 300px;
        }

        .progress_container {
            width: 100%;
        }

        .contact_card_container {
            flex-direction: column;
        }

        .services_container{
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(4, 1fr);
            max-width: 90%;
        }

        .rec_container {
            flex-direction: column;
        }

        .rec_slide {
            gap: 30px;
            padding: 70px 0px 40px 0px;
            min-width: 100%;
        }

        .rec_container_card {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 20px; 
            width: 100%;
        }


        .rec_image,
        .rec_prof_container {
            order: -1;
        }

        .rec_text {
            text-align: center;
        }

        .rec_slider_dots{
            flex-direction: row;
            gap: 15px;
            padding-bottom: 50px;
        }
    }

    @media (max-width: 580px) {
        
        .roca {
            max-width: 70px;
            top: 15px;
            left: 15px;
            line-height: 10px;
        }
        
        .roca_bold {
            font-size: 12px;
        }

        .blue_dot {
            font-size: 10px;
        }
        
        .transparent {
            font-size: 7px;;
        }

        .main_number {
            right: 16px;
            top: 5px;
            font-size: 30px;
        }

        .about_me {
            right: 10px;
            top: 20px;
            font-size: 10px;
            letter-spacing: 1px;
        }

        .main_slider_text {
            right: 60px;
            bottom: 50px;
        }

        .slider_hi {
            font-size: 10px;
        }

        .slider_name {
            font-size: 14px;
        }

        .slider_prof {
            font-size: 5px; 
        }

        .slider_socials {
            gap: 5px;
            margin-top: 5px;
            padding-left: 5px;
        }

        .slider_socials img{
            width: 10px;
            height: 10px;
        }

        .clients {
            bottom: 20px;
            right: 40px;
        }

        .main_slider_progress {
            margin-top: -15px;
        }
        
        .clients_percent {
            font-size: 6px;
        }
        
        .clients_text {
            font-size: 6px;
        }

        .clients_bar {
            height: 2px;
        }

        .slider button {
            padding: 10px 5px;
        }
        .services_container{
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(8, 1fr);
            max-width: 80%;
        }
    }